<div class="container">
  <h1> <%= @list.name %> </h1>
</div>

<% @list.bookmarks.each do |bookmark| %>
<div class="container">
  <ul class="row d-flex align-items-center">
    <%= bookmark.movie.title %>
    <%= bookmark.comment %>
    <%= link_to 'delete', bookmark_path, method: 'delete', :class => "btn btn-danger m-3" %>
  </div>
  <% end %>
</ul>

<div class="container">
<h2>New Bookmark</h2>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie, input_html: { class: 'select2' } %>
    <%= f.submit %>
  <% end %>
  <br>
  <br>

  <h2>New Review</h2>
  <%= simple_form_for [@list, @review] do |f| %>
    <fieldset class="rating">

<legend>Please rate:</legend>

<%=f.radio_button :rating, 5, :id => "star5" %><label for="star5" title="Excellent!">5 Stars</label>

<%=f.radio_button :rating, 4, :id => "star4" %> <label for="star5" title="Good!">4 Stars</label>

<%=f.radio_button :rating, 3, :id => "star3" %> <label for="star3" title="Average!">5 Stars</label>

<%=f.radio_button :rating, 2, :id => "star2" %> <label for="star5" title="Poor!">2 Stars</label>

<%=f.radio_button :rating, 1, :id => "star1" %> <label for="star1" title="Very Poor!">1 Stars</label>

</fieldset>
    <%= f.input :comment %>
    <%= f.submit %>
  <% end %>
<%= link_to "back", lists_path, :class => "btn btn-primary m-3" %>
</div>

